VITE_LAT="41.24521276434776"
VITE_LON="69.29842149465377"

VITE_API_URL=https://hammasiuy.com/api
# Development API URL
# VITE_API_URL=https://gxfl20sh-3000.euw.devtunnels.ms/api

# Production API URL
# VITE_API_URL=https://hammasiuy.com/api


VITE_USER_NAME="TEST"
VITE_USER_ID="111222333"
VITE_PROFILE_NAME="TESTPROFILENAME"