.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);


    &__lottie {
        width: 200px;
        height: 200px;
    }
}