.floating-error-text {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
    text-align: center;
    z-index: 1000;

    strong {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 17px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: var(--destructive-color);
        background-color: var(--bg-color);
        padding: 10px;
        border-radius: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }
}